{% extends "base.html" %}

{% block meal %}


{% endblock meal %}

{% block content %}
   
          <h2 class="account-heading"> Welcome, {{ current_user.username }}</h2>
        <br> 
          <center><strong> <h3 class=''> First Week </h2> </strong> </center>
        <p class="text-secondary"><a href='https://www.amazon.com/Oats-AmazonFresh-Grocery/s?k=Oats&rh=n%3A11825099011'>{{ form.breakfast }}</a></p>
        <p class="text-secondary">{{ form.lunch }}</p>
        <p class="text-secondary">{{ form.snack }}</p>
        <p class="text-secondary">{{ form.dinner }}</p>
        


{% endblock content %}